<!doctype html>
<html lang="pt">

<head>
    <%- include('../layout/head'); %>
</head>

<body>
    <div class="container">
        <header>
            <%- include('../layout/header'); %>
        </header>
        <div class="col-md-12 jumbotron">
            <p>
                <%= teste.teste %>
            </p>
            <p>
                <%= teste.teste1 %>
            </p>
            <p>
                <%= teste.teste2 %>
            </p>
            <p>
                <%= teste.teste3 %>
            </p>
        </div>
    </div>
    <footer>
        <%- include('../layout/footer'); %>
    </footer>
</body>
<script type="text/javascript" src="/js/home.js"></script>

</html>