<!doctype html>
<html lang="pt">

<head>
    <%- include('../layout/head'); %>
</head>

<body>
    <div class="container">
        <header>
            <%- include('../layout/header'); %>
        </header>

        <div class="row">
            <div class="col-12">
                <form action="/salva_form" method="POST" enctype="multipart/form-data">
                    <h4 class="mb-sm-0 font-size-18">Cadastro de Produtos E-Commerce</h4>
                    <div class="table-responsive" id="crudTableEdit">
                        <table
                            class="table table-hover table-striped table-condensed table-sm table-bordered table-nowrap align-middle">
                            <thead class="table-dark">
                                <tr>
                                    <th class="border border-light border-1 text-left">Campos</th>
                                    <th class="border border-light border-1 text-left">Valores</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="p-1 fw-bold text-left">D009_id</td>
                                    <td class="p-1 fw-bold text-left">
                                        <input class="form-control form-control-sm" type="text" name="hrd_D009_Id"
                                            value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1 fw-bold text-left">Código Produto</td>
                                    <td class="p-1 fw-bold text-left">
                                        <input class="form-control form-control-sm" type="text" name="product_code"
                                            value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1 fw-bold text-left">Nome Produto</td>
                                    <td class="p-1 fw-bold text-left">
                                        <input class="form-control form-control-sm" type="text" name="nome" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1 fw-bold text-left">Custo</td>
                                    <td class="p-1 fw-bold text-left">
                                        <input class="form-control form-control-sm" id="custo" type="text" placeholder="0.00"
                                            name="cost_unit" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1 fw-bold text-left">IPV</td>
                                    <td class="p-1 fw-bold text-left">
                                        <input class="form-control form-control-sm" id="ipv" type="text" placeholder="0.00"
                                            name="ipv" value="1.50">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1 fw-bold text-left">Preço</td>
                                    <td class="p-1 fw-bold text-left">
                                        <input class="form-control form-control-sm" id="preco" type="text" placeholder="0.00"
                                            name="price_unit" value="" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1 fw-bold text-left">Qtd Local</td>
                                    <td class="p-1 fw-bold text-left">
                                        <input class="form-control form-control-sm" id="estoque" type="text" placeholder="00"
                                            name="local_quantity" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1 fw-bold text-left">Qtd Reservada</td>
                                    <td class="p-1 fw-bold text-left">
                                        <input class="form-control form-control-sm" id="reservada" type="text" placeholder="00"
                                            name="reserved_quantity" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1 fw-bold text-left">Qtd Ec</td>
                                    <td class="p-1 fw-bold text-left">
                                        <input class="form-control form-control-sm" id="qtd_ec" type="text" placeholder="00"
                                            name="actual_quantity" value="" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1 fw-bold text-left">Categorias</td>
                                    <td class="p-1 fw-bold text-left">
                                        <select class="form-control" name="categ" multiple required>
                                            <% categorias.forEach(element=> { %>
                                                <option value="<%= element.id %>"><%= element.name %></option>
                                                <% }) %>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1 fw-bold text-left">Imagem</td>
                                    <td class="p-1 fw-bold text-left">
                                        <input required class="form-control form-control-sm" type="file" name="foto" multiple value="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
        <footer>
            <%- include('../layout/footer'); %>
        </footer>
    </div>
</body>
<script type="text/javascript" src="/js/form_prod.js"></script>

</html>